IOT device control with MQTT and webhook.json
{
  "name": "IOT device control with MQTT and webhook",
  "nodes": [
    {
      "parameters": {
        "topic": "=pin-control",
        "sendInputData": false,
        "message": "={{ $json.pin }}",
        "options": {}
      },
      "id": "3d3b2e80-4e4e-43ec-b2fd-7000e7307915",
      "name": "MQTT Publish Topic Node",
      "type": "n8n-nodes-base.mqtt",
      "position": [
        1120,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "mqtt": {
          "id": "oJ4Hj1EY2UpYZEkr",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pin",
              "value": "={{ $json.query.value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4444f19-424a-487b-8d7c-3c609a55b913",
      "name": "Set data for MQTT message payload",
      "type": "n8n-nodes-base.set",
      "position": [
        800,
        384
      ],
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "path": "pin-control",
        "options": {}
      },
      "id": "3ed996b8-419f-458a-a717-b35e1a52a851",
      "name": "IOT control Webhook ",
      "type": "n8n-nodes-base.webhook",
      "position": [
        448,
        384
      ],
      "webhookId": "69036479-fe77-40e1-a700-8a2e2602e0c8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "When the \"on\" or \"off\" button is clicked on the IOT control webpage the webhook gets the selected value and triggers the workflow ",
        "height": 120
      },
      "id": "40fa6c2a-c515-412b-93df-eceb993c38c9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "The set node prepares the receive data as a message payload for the MQTT topic",
        "height": 80
      },
      "id": "159f8c6e-285a-443a-bd9d-ae3456b9a6a8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Publishes MQTT topic \"pin-control\" with the payload data to control the GPIO on the ESP32 microcontroller",
        "height": 100
      },
      "id": "250140e6-f46c-42c2-b79a-537ec4975b97",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "IOT control Webhook ": {
      "main": [
        [
          {
            "node": "Set data for MQTT message payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data for MQTT message payload": {
      "main": [
        [
          {
            "node": "MQTT Publish Topic Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "836d5208-03a9-418d-981a-af9b9044ba47",
  "meta": {
    "templateId": "4211",
    "templateCredsSetupCompleted": true,
    "instanceId": "31ec8a835dbf21c30d4c02d33c6a2740e2bb024b6da89ce6e05f37ba33395703"
  },
  "nodeGroups": [],
  "id": "cKLv3l8DgeLD4RDw",
  "tags": []
}